.banner {
  text-align: center;
  width: 100vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 130px 0;
}
.title h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
}
.title h2 {
  font-size: 32px;
  opacity: 0.8;
}
